<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MT3CardTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MT3CardTools.Properties.Settings>
            <setting name="Data1Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Data2KeyTable" serializeAs="String">
                <value />
            </setting>
            <setting name="MacKeyTable" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CardReader_BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="CardReader_Parity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CardReader_UsePipes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardReader_LastPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PadKeyTable" serializeAs="String">
                <value />
            </setting>
            <setting name="CardGenCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CardGenMachineSerial" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CardReader_VerifyWrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardEditor_DefaultType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CardEditor_AllowAllFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionFileVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="CreationDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CardEditor_HideUnsupportedCarsWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseStackFramesInDebugLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentCards" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="CardEditor_ShowCourseNames" serializeAs="String">
                <value>True</value>
            </setting>
        </MT3CardTools.Properties.Settings>
    </userSettings>
</configuration>